{
    font-family: sans-serif;
}

#menu {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 600px;
    text-align: center;
}

#menu button + div {
    display: inline;
}

.uni-header1{
    background-color: darkblue;
    height: 50px;
}

.uni-header2{
    background-color: #f9d71c;
    height: 20px;
}

.uni-header3{
    background-color: red;
    height: 5px;
}
