<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SeminarApp">
    <head>
        <title>Create Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/seminarmanager.js"></script>
    </head>
    <body ng-controller="StaffController as stfctrl">
        
        <div ng-include="'menu.html'" ></div>

        <div class="uni-header1"></div>
        <div class="uni-header2"></div>
        <div class="uni-header3"></div>
       
        <img id="otago-img" src="images/uni-logo.png"> 

        
        <p id='sign-in-p'>Welcome to the CS&IS Seminar Manager App</p>
        
        <fieldset>
            <legend></legend>
            <form ng-submit="stfctrl.registerStaff(staff)">
                <div>
                    <label for="username">Username:</label>
                    <input type="text"  name="username" ng-model="staff.username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password"  name="password" ng-model="staff.password" required>
                </div>
                <div>
                    <label for="firstname">First Name:</label>
                    <input type="text"  name="firstname" ng-model="staff.firstName" required>
                </div>
                <div>
                    <label for="surname">Last Name:</label>
                    <input type="text" name="surname" ng-model="staff.surname" required>
                </div>
                <div> 
                    <label for="bio">Enter Bio</label>
                    <input type="text"  name="bio" ng-model="staff.bio" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" ng-model="staff.email" required>
                </div>
                
                <div id="end-of-form-action-btn">
                    <button type="submit" class="registerbtn">Create Account</button>
                </div>
            </form>
        </fieldset>
    </body>
</html>
