<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SeminarApp">
    <head>
        <title>Create Seminar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i&display=swap" rel="stylesheet">
        
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/seminarmanager.js"></script>
    </head>
    <body ng-controller="SeminarController as semctrl">
        
        <img id="logo" src="images/logo.png"> 
       
        <div class="nav-background">
        <div ng-include="'menu.html'"></div>
        </div>
        
        <div class="uni-header2"></div>
        
  
         <p id="sign-in-p">Create a Custom Seminar</p>

        <fieldset class="createaccount-fieldset">
            <legend>Seminar Details</legend>
            <form ng-submit="semctrl.registerSeminar(seminar)">
                <div>
                    <label class ="createlabel" for="topic">Topic:</label>
                    <input class ="createinput" type="text"  name="topic" placeholder="Enter Topic" ng-model="seminar.topic" required>
                </div>
                <div>
                    <label class ="createlabel" for="title">Title:</label>
                    <input class ="createinput" type="text"  name="title" placeholder="Enter Title" ng-model="seminar.title" required>
                </div>
                <div>
                    <label class ="createlabel" for="abstracts">Abstract:</label>
                    <textarea class ="createinput"  type="text"  name="abstracts" placeholder="Enter Abstract"ng-model="seminar.abstracts" required></textarea>
                </div>
                
                
                <div>
                    <label class ="createlabel" for="location">Location:</label>
                    <input class ="createinput" type="text" name="location" placeholder="Owheo G34" ng-model="seminar.location">
                </div>
                
                
                
                <div>
                    <label class="createlabel" for="mod">Modality:</label>
                    <div>
                    <select class="drop-down" id="mod" ng-model="seminar.modality">
                        <option value="Zoom">Zoom</option>
                        <option value="University">University</option>
                    </select>
                    </div>    
                </div>
                
                
                
                <!--<div> 
                    <label class ="createlabel" for="modality">Modality:</label>
                    <input class ="createinput" type="text"  name="modality" placeholder=" via Zoom or University" ng-model="seminar.modality" required>
                    
                </div>-->
                <div>
                    <label class ="createlabel" for="date">Date:</label>
                    <input class ="createinput" type="text" name="date" placeholder="Enter Date"ng-model="seminar.date" required>
                </div>   
                <div>
                    <label class ="createlabel" for="displayName">Display Name:</label>
                    <input class ="createinput" type="text" name="displayName" placeholder="Enter Display Name" ng-model="seminar.displayName" required>
                </div> 
                <div id="end-of-form-action-btn">
                    <button  type="submit" onclick="window.location.href='thankyou.html'" class="registerbtn">Create Seminar</button>
                </div>
            </form>
        </fieldset>
    </body>
</html>
