<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="SeminarApp">
    <head>
        <title>Create Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i&display=swap" rel="stylesheet">
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/seminarmanager.js"></script>
    </head>
    <body ng-controller="StaffController as stfctrl">
        
        <div class="nav-background">
        
        <div class = "nav" ng-include="'menu.html'" ></div>
        </div>

        <div class="uni-header2"></div>
        
        <p id='sign-in-p'>Create an Account</p>
        
      
        <fieldset class="createaccount-fieldset">
            
           
            <legend>Account Details</legend>
            <form ng-submit="stfctrl.registerStaff(staff)">
                <div>
                    <label class ="createlabel" for="username">Username:</label>
                    <input class ="createinput" type="text" placeholder ="Enter Username" name="username" ng-model="staff.username" required>
                </div>
                <div>
                    <label class ="createlabel" for="password">Password:</label>
                    <input class ="createinput" type="password" placeholder ="Enter Password" name="password" ng-model="staff.password" required>
                </div>
                <div>
                    <label class ="createlabel" for="firstname">First Name:</label>
                    <input class ="createinput" type="text" placeholder ="Enter First Name" name="firstname" ng-model="staff.firstName" required>
                </div>
                <div>
                    <label class ="createlabel" for="surname">Last Name:</label>
                    <input class ="createinput" type="text" placeholder ="Enter Surname" name="surname" ng-model="staff.surname" required>
                </div>
                <div> 
                    <label class ="createlabel" for="bio">Bio:</label>
                    <input class ="createinput" id="biolabel" type="text" placeholder ="Enter Short Bio"  name="bio" ng-model="staff.bio" required>
                </div>
                <div>
                    <label class ="createlabel" for="email">Email:</label>
                    <input class ="createinput" type="email" placeholder ="Enter Email" name="email" ng-model="staff.email" required>
                </div>
                
                <div id="end-of-form-action-btn">
                    <button type="submit" class="registerbtn">Create Account</button>
                </div>
            </form>
        </fieldset>
    </body>
</html>
